# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Output
output/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp saves
*.v3

# Rakaly CLI binary
rakaly-*/
rakaly.tar.gz
output_*/
